@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@400;500;600&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

u {
  text-decoration-color: #92a55f;
}

.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: #92a55f;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid #92a55f;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
  background-color: #92a55f;
  color: #fff;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: #92a55f;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #92a55f;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	/* animation: hamburger_puls 1s ease infinite; */
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
  background: url("https://images.pexels.com/photos/4101143/pexels-photo-4101143.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: #fff;
	/* animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s; */
}

#hero h1 span {
	/* position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0; */
	color: #92a55f;
	/* animation: text_reveal_box 1s ease;
	animation-delay: 0.5s; */
}


/* End Hero Section */

/* om_mig Section */
#om_mig .om_mig {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#om_mig .col-left {
	width: 250px;
	height: 360px;
}
#om_mig .col-right {
	width: 100%;
}
#om_mig .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#om_mig .col-right p {
	margin-bottom: 20px;
}
#om_mig .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#om_mig .col-left .om_mig-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#om_mig .col-left .om_mig-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid #92a55f;
	z-index: -1;
}
/* End om_mig Section */

/* arbetsmetoder section */
#arbetsmetoder .arbetsmetoder {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#arbetsmetoder .arbetsmetoder-header h1 {
	margin-bottom: 50px;
}
#arbetsmetoder .all-arbetsmetoder {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#arbetsmetoder .arbets-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#arbetsmetoder .arbets-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#arbetsmetoder .arbets-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#arbetsmetoder .arbets-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#arbetsmetoder .arbets-info p {
	color: white;
}
#arbetsmetoder .arbets-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#arbetsmetoder .arbets-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#arbetsmetoder .arbets-img img {
	transition: 0.3s ease transform;
}
#arbetsmetoder .arbets-item:hover .arbets-img img {
	transform: scale(1.1);
}
/* End arbetsmetoder section */

/* Services Section */
/* #services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/img-1.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p {
	color: white;
	text-align: left;
} */
/* End Services Section */


/* Avtal start */
#avtal .avtal {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

#avtal h1 {
  font-size: 8rem;
}

.avtal ul {
  list-style: none;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

#avtal a {
  text-decoration: none;
  color: #9fb368;
}

#avtal a:hover {
  color: #586630;
  text-decoration: underline;
}

#avtal p {
  color: #586630;

}

/* Avtal slut */


/* kontakta Section */
#kontakta .kontakta {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#kontakta .kontakta-items {
	/* max-width: 400px; */
	width: 100%;
}
#kontakta .kontakta-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#kontakta .kontakta-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#kontakta .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#kontakta .kontakta-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#kontakta .kontakta-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End kontakta Section */

#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}

#footer h2 {
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer h3 {
  color: white;
}

#footer p {
  color: white;
  font-size: 1.3rem;
}


#footer .software-icon {
  display: flex;
  margin: 2px 2px;
}

#footer .software {
  height: 10px;
  width: 10px;
  margin: 0 10.5px;
  align-items: center;
  justify-content: center;
}

#footer .software:hover img {
  transform: scale(1.8);
}

#footer .software img {
  height: 25px;
  width: 25px;

}

.f2 span {
  color: #9fb368;
}

/* End of Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #92a55f;
		font-weight: 500;
	}
}
/* End Keyframes */

/* ===== MEDIA QUERIES ===== */
/* For Small Devices */
@media screen and (max-width: 350px){
  .container{
      margin-left: 1rem;
      margin-right: 1rem;
  }

  /* Hero */
  #hero h1 {
		font-size: 2rem;
	}

   #header .nav-list {
    padding: 2rem .25rem 4rem;
   }

  #header .nav-list ul a {
    font-size: 1rem;
    column-gap: 0;
  }

	/* End Hero */
  #header .nav-list ul a {
    font-size: 1rem;
  }

  	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 55%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* arbets */
	#arbetsmetoder .arbets-item {
		flex-direction: row;
	}

  #arbetsmetoder .arbets-info h1{
    font-size: 2.5rem;
  }
  #arbetsmetoder .arbets-info p{
    font-size: 1rem;
  }

	#arbetsmetoder .arbets-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#arbetsmetoder .arbets-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#arbetsmetoder .all-arbetsmetoder .arbets-info {
		height: 100%;
	}
	#arbetsmetoder .all-arbetsmetoder .arbets-img img{
		height: 100%;
    width: 10p;
	}
	/* End arbets */

	/* om_mig */
	#om_mig .om_mig {
		flex-direction: column-reverse;
	}
  #om_mig .col-left {
		width: 250px;
		height: 300px;
		padding-left: 60px;
	} 
	#om_mig .om_mig .col-left .om_mig-img::after {
		left: -25px;
		top: 14px;
		height: 98%;
		width: 98%;
		border: 10px solid #92a55f;
	} 
	/* End om_mig */

  	/* arbets */
	#arbetsmetoder .arbets-item {
		flex-direction: column;
	}

  #arbetsmetoder .arbetsmetoder_title h1{
    font-size: 1.8rem;
  }
  #arbetsmetoder .arbetsmetoder_title p{
    font-size: .8rem;
  }

  #arbetsmetoder .arbets-info h1 {
    font-size: 1rem;
    margin-top: 12px;
    margin-bottom: 10px;

  }

  #arbetsmetoder .arbets-info p{
    font-size: .5rem;
  }

	#arbetsmetoder .arbets-item:nth-child(even) {
		flex-direction: column;
	}
	#arbetsmetoder .arbets-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#arbetsmetoder .all-arbetsmetoder .arbets-info {
		height: 50%;
	}
	#arbetsmetoder .all-arbetsmetoder .arbets-img {
		height: 100%;
    width: 100%;
	}

	/* kontakta  */


  #kontakta .cunt h1{
    font-size: 2rem;
  }
  
}

/* For medium Devices */
@media screen and (min-width: 568px) {
  /* #arbetsmetoder .arbets-item {
		flex-direction: column;
	} */

  #arbetsmetoder .arbetsmetoder_title h1{
    font-size: 4rem;
  }
  #arbetsmetoder .arbetsmetoder_title p{
    font-size: 1.3rem;
    text-align: center;
  }

  #arbetsmetoder .arbets-info h1 {
    font-size: 2rem;
    margin-top: 12px;
    margin-bottom: 10px;

  }

  #arbetsmetoder .arbets-info p{
    font-size: 1rem;
  }

	#arbetsmetoder .arbets-item:nth-child(even) {
		flex-direction: column;
	}
	#arbetsmetoder .arbets-item {
		height: 600px;
    text-align: center;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}

  #arbetsmetoder .arbets-item h1 {
    text-align: center;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#arbetsmetoder .all-arbetsmetoder .arbets-info {
		height: 50%;
    width: 70%;
	}
	#arbetsmetoder .all-arbetsmetoder .arbets-img {
		height: 50%;
    width: 70%;
	}

  /* kontakta  */
	#kontakta .kontakta {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}

  #kontakta .cunt h1{
    font-size: 4rem;
  }
	#kontakta .kontakta-items {
		width: 100%;
		display: flex;
		flex-direction: row;
    align-items: center;
		justify-content: space-around;
		margin: 0;
	}
	#kontakta .kontakta-item {
		width: 30%;
    height: 25vh;
		margin: 0;
		flex-direction: row;
	}
	/* #kontakta .kontakta-item .icon {
		height: 100%;
		width: 100%;
	} */
	#kontakta .kontakta-item .icon img {
		width: 35px;
    height: 35px;
    top: 0;
    left: 0;
	}
	#kontakta .kontakta-item .kontakta-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End kontakta  */

}


/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
  #hero h1 {
		font-size: 3rem;
	}

  #header .nav-list ul a {
    font-size: 3rem;
  }

	/* End Hero */
  #header .nav-list ul a {
    font-size: 3rem;
  }



	/* arbets */
	#arbetsmetoder .arbets-item {
		flex-direction: row;
	}

  #arbetsmetoder .arbets-info h1{
    font-size: 2.5rem;
  }
  #arbetsmetoder .arbets-info p{
    font-size: 1rem;
  }

	#arbetsmetoder .arbets-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#arbetsmetoder .arbets-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#arbetsmetoder .all-arbetsmetoder .arbets-info {
		height: 100%;
	}
	#arbetsmetoder .all-arbetsmetoder .arbets-img {
		height: 100%;
	}
	/* End arbets */

	/* om_mig */
	#om_mig .om_mig {
		flex-direction: column-reverse;
	}
	#om_mig .col-left {
		width: 600px;
		height: 700px;
		padding-left: 60px;
	}
	#om_mig .om_mig .col-left .om_mig-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid #92a55f;
	}
	#om_mig .col-right {
		text-align: left;
		padding: 30px;
	}
	#om_mig .col-right h1 {
		text-align: left;
	}
	/* End om_mig */

  

	/* kontakta  */
	#kontakta .kontakta {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}

  #kontakta .cunt h1{
    font-size: 5rem;
  }
	#kontakta .kontakta-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#kontakta .kontakta-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#kontakta .kontakta-item .icon {
		height: 100px;
		width: 100px;
	}
	#kontakta .kontakta-item .icon img {
		object-fit: contain;
	}
	#kontakta .kontakta-item .kontakta-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End kontakta  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */
